pipeline/datalackPJ.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "merge data",
				"description": "merge data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "data",
							"wildcardFileName": "*csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sets",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Outputdataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "toSQLdatabase",
				"description": "from a copy activity that takes the data from the csv file and put it into a SQL database",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "merge data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Outputdataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "toSQLdatabase",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('toSQLdatabase').output.exists,true )",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait",
							"description": "wait 10 sec",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "tosql",
							"description": "\n",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "High",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "High",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "Low",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Low",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "Close",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Close",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "Volume",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Volume",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "Adj Close",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AdjClose",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "company_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "company_name",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "Open",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "open",
												"type": "String",
												"physicalType": "char"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Outputdataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable2",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Notebook_stockcluster",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/ye.wang.20182131@efrei.net/DBsforstock"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}